html{
    background-color:rgb(0, 0, 0);
    color:papayawhip;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 7rem;
    
}
.main{
    text-align: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    width: 25vw;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border: 2px solid whitesmoke;
    font-size: x-large;
    border-radius: 50px;
}
label{
    margin-top: 1rem;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    background-color: black;
    color: papayawhip;
}
button{
    margin: 2rem;
    border-radius: 20px;
    height: 2rem;
    color: rgb(0, 0, 0);
}
button:hover{
    background-color: black;
    color: papayawhip;
}
